In [1]:
# imports
import numpy as np
import matplotlib.pyplot as plt
import csv
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.linear_model import LogisticRegression
%matplotlib inline

/Users/hang/anaconda/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/Users/hang/anaconda/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [4]:
print('loading the data...')
projects = pd.read_csv('./data/projects.csv')
outcomes = pd.read_csv('./data/outcomes.csv')
sample = pd.read_csv('./data/sampleSubmission.csv')
print('complete..')

loading the data...
complete..

In [10]:
print (projects.shape, outcomes.shape)
projects.head()

(664098, 35) (619326, 12)

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,resource_type,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted
0,316ed8fb3b81402ff6ac8f721bb31192,42d43fa6f37314365d08692e08680973,c0e6ce89b244764085691a1b8e28cb81,6.362701e+10,36.576340,-119.608713,Selma,CA,93662.0,NaN,...,Books,highest poverty,Grades 6-8,30.0,555.81,653.89,32.0,f,f,2014-05-12
1,90de744e368a7e4883223ca49318ae30,864eb466462bf704bf7a16a585ef296a,d711e47810900c96f26a5d0be30c446d,4.837020e+11,32.911179,-96.723640,Dallas,TX,75243.0,urban,...,Books,highest poverty,Grades PreK-2,30.0,296.47,348.79,22.0,f,f,2014-05-12
2,32943bb1063267de6ed19fc0ceb4b9a7,37f85135259ece793213aca9d8765542,665c3613013ba0a66e3a2a26b89f1b68,4.103270e+11,45.166039,-122.414576,Colton,OR,97017.0,rural,...,Technology,high poverty,Grades PreK-2,30.0,430.89,506.93,17.0,f,f,2014-05-11
3,bb18f409abda2f264d5acda8cab577a9,2133fc46f951f1e7d60645b0f9e48a6c,4f12c3fa0c1cce823c7ba1df57e90ccb,3.600153e+11,40.641727,-73.965655,Brooklyn,NY,11226.0,urban,...,Books,highest poverty,Grades 3-5,30.0,576.07,677.73,12.0,f,f,2014-05-11
4,24761b686e18e5eace634607acbcc19f,867ff478a63f5457eaf41049536c47cd,10179fd362d7b8cf0e89baa1ca3025bb,6.227100e+10,34.043939,-118.288371,Los Angeles,CA,90006.0,urban,...,Other,highest poverty,Grades PreK-2,30.0,408.40,480.47,24.0,f,f,2014-05-11

In [11]:
outcomes.head()

,projectid,is_exciting,at_least_1_teacher_referred_donor,fully_funded,at_least_1_green_donation,great_chat,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count
0,ffffc4f85b60efc5b52347df489d0238,f,NaN,f,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN
1,ffffac55ee02a49d1abc87ba6fc61135,f,f,t,t,f,t,f,f,57.0,0.0,7.0
2,ffff97ed93720407d70a2787475932b0,f,f,t,t,t,t,t,f,100.0,0.0,3.0
3,ffff418bb42fad24347527ad96100f81,f,f,f,t,t,f,f,f,100.0,0.0,1.0
4,ffff2d9c769c8fb5335e949c615425eb,t,t,t,t,t,f,t,f,63.0,6.0,2.0

In [14]:
# sort the data based on id
projects = projects.sort_values('projectid')
sample = sample.sort_values('projectid')
outcomes = outcomes.sort_values('projectid')

In [15]:
projects.head()

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,resource_type,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted
148979,00001ccc0e81598c4bd86bacb94d7acb,96963218e74e10c3764a5cfb153e6fea,9f3f9f2c2da7edda5648ccd10554ed8c,1.709930e+11,41.807654,-87.673257,Chicago,IL,60609.0,urban,...,Supplies,highest poverty,Grades PreK-2,30.0,1273.82,1498.61,31.0,f,f,2013-04-14
437277,00002bff514104264a6b798356fdd893,3414541eb63108700b188648f866f483,cbaae3265eda78d330cb8ab1a9217071,6.032700e+10,35.203447,-118.840956,Arvin,CA,93203.0,NaN,...,Supplies,highest poverty,Grades PreK-2,35.0,477.32,561.55,20.0,t,f,2010-09-08
405458,00002d691c05c51a5fdfbb2baef0ba25,7ad6abc974dd8b62773f79f6cbed48d5,56502bae9e97bab5eb54f9001878f469,6.029700e+10,34.137997,-118.062795,Arcadia,CA,91007.0,urban,...,Books,moderate poverty,Grades 3-5,35.0,892.31,1049.78,250.0,f,f,2010-12-10
91352,0000b38bbc7252972f7984848cf58098,e1aa1ae5301d0cda860c4d9c89c24919,30fcfca739b17be54ce3f1ee46980340,2.311400e+11,44.437717,-70.201292,Livermore,ME,4253.0,rural,...,Technology,highest poverty,Grades PreK-2,30.0,547.86,644.54,36.0,t,f,2013-09-27
49606,0000ee613c92ddc5298bf63142996a5c,e0c0a0214d3c2cfdc0ab6639bc3c5342,38bb0d62aa613c2f933de56c9df855b7,5.101260e+11,38.851982,-77.145287,Falls Church,VA,22041.0,suburban,...,Technology,high poverty,Grades PreK-2,30.0,384.86,452.78,19.0,f,f,2013-12-11

In [17]:
totalCount = projects.shape[0]
for i in range(1,projects.shape[1]):
    nullcount = projects[projects[projects.columns[i]].isnull()].shape[0]
    percentage=float(nullcount)/float(totalCount) *100
    if(percentage>0):print(projects.columns[i],percentage,'%')

school_ncesid 6.4351948055859225 %
school_zip 0.0006023207418182256 %
school_metro 12.333721830211806 %
school_district 0.14275001581091948 %
school_county 0.002559863152727459 %
teacher_prefix 0.0006023207418182256 %
primary_focus_subject 0.0058726272327277 %
primary_focus_area 0.0058726272327277 %
secondary_focus_subject 31.304566494704094 %
secondary_focus_area 31.304566494704094 %
resource_type 0.006776108345455037 %
grade_level 0.0013552216690910076 %
fulfillment_labor_materials 5.282654066116748 %
students_reached 0.021984707076365236 %