In [1]:
# imports
import itertools
import os
import re
import math
import random
import numpy as np
import matplotlib.pyplot as plt
import csv
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

from sklearn import metrics
from sklearn.linear_model import SGDClassifier

from sklearn.ensemble import GradientBoostingRegressor, GradientBoostingClassifier, \
    RandomForestRegressor, RandomForestClassifier
from datetime import date
%matplotlib inline

In [2]:
# start to calculate history rate for different attributes 
id_columns = ['teacher_acctid','schoolid']
location_columns = ['school_city','school_state','school_district','school_county','school_zip']
all_columns = id_columns + location_columns

requirements_columns = ['projectid','date_posted','is_exciting','at_least_1_teacher_referred_donor','fully_funded','at_least_1_green_donation','great_chat','one_or_more_required']
require_only_columns = ['is_exciting','at_least_1_teacher_referred_donor','fully_funded','at_least_1_green_donation','great_chat','one_or_more_required']

In [3]:
def calculate_possibility(df, title, columns=require_only_columns):
    df_p = df 
    alpha = 10
    for var in require_only_columns:
        mean = df_p[var].sum()/df_p['count'].sum()
        #print(mean)
        df_p[var] = (df_p[var]+mean*alpha)/(df_p['count']+alpha)
        df_p[var][df_p['count']==1] = 0      
        df_p.columns = df_p.columns.str.replace(var,"".join(title+'_'+var))
    df_p.rename(columns={'count': "".join(title+'_count')}, inplace=True)
    return df_p
def calculate_possibility_by_time(df,title,start_date,end_date,columns= require_only_columns):
    df_p = df[(df['date_posted']<end_date)&(df['date_posted']>=start_date)]
    alpha = 10
    for var in require_only_columns:
        mean = df_p[var].sum()/df_p['count'].sum()
        #print(mean)
        df_p[var] = (df_p[var]+mean*alpha)/(df_p['count']+alpha)
        df_p[var][df_p['count']==1] = 0      
        df_p.columns = df_p.columns.str.replace(var,"".join(title+'_'+var))
    df_p.rename(columns={'count': "".join(title+'_count')}, inplace=True)
    return df_p

In [4]:
def calculate_sum(df,name):
    #df_tmp = df[df['date_posted']<"2014-01-01"]
    df_tmp = df 
    name_group = df_tmp.groupby(name,as_index=False)
    count = pd.DataFrame({'count':name_group.size()}).reset_index()
    prev = name_group.sum()
    prev = pd.merge(prev,count,on=name)
    df_tmp = pd.merge(df_tmp[['projectid',name]],prev,how='left',on=name)
    return df_tmp

def calculate_by_time(df,name,start_date,end_date):
    df_tmp = df[(df['date_posted']<end_date)&(df['date_posted']>=start_date)]
    name_group = df_tmp.groupby(name,as_index=False)
    count = pd.DataFrame({'count':name_group.size()}).reset_index()
    prev = name_group.sum()
    prev = pd.merge(prev,count,on=name)
    df_tmp = pd.merge(df_tmp[['projectid','date_posted',name]],prev,how='left',on=name)
    df_tmp = df_tmp.drop('date_posted',axis=1)
    return df_tmp

def get_full_df():
    test_df = df
    #data = df[(df['cat']=='train')|(df['cat']=='val')]
    for var in all_columns:
        #get columns of requirements
        name_tmp = df[np.append(requirements_columns,var)]
        # calculate sum accroding to different attribute
        sum_tmp = calculate_sum(name_tmp,var)
        #calculate the possibility of different attribute
        pos_tmp = calculate_possibility(sum_tmp,var)
        # merge the result to the main df dataframe
        test_df = pd.merge(test_df,pos_tmp,how='left',on=['projectid',var])
        print("finish merge for "+ var)
    return test_df

In [5]:
# this function is not finished yet
def get_date_partition(start_date, end_date, interval):
    intervals = []
    start_time = pd.to_datetime(start_date)
    end_time = pd.to_datetime(end_date)
    bet = end_time - start_time
    times = bet/interval
    for i in range(0,times):
        end = start_time + interval
        start_time.dt.strftime()

In [6]:
print('loading the data...')
projects = pd.read_csv('./data/projects.csv')
outcomes = pd.read_csv('./data/outcomes.csv')
#donations = pd.read_csv('./data/donations.csv')
#resources = pd.read_csv('./data/resources.csv')
print('complete..')

loading the data...
complete..

In [7]:
print(outcomes.shape)
outcomes = outcomes.sort_values(by='projectid')
outcomes.fillna(method='pad')
outcomes.head()

(619326, 12)

,projectid,is_exciting,at_least_1_teacher_referred_donor,fully_funded,at_least_1_green_donation,great_chat,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count
0,ffffc4f85b60efc5b52347df489d0238,f,NaN,f,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN
1,ffffac55ee02a49d1abc87ba6fc61135,f,f,t,t,f,t,f,f,57.0,0.0,7.0
2,ffff97ed93720407d70a2787475932b0,f,f,t,t,t,t,t,f,100.0,0.0,3.0
3,ffff418bb42fad24347527ad96100f81,f,f,f,t,t,f,f,f,100.0,0.0,1.0
4,ffff2d9c769c8fb5335e949c615425eb,t,t,t,t,t,f,t,f,63.0,6.0,2.0

In [8]:
projects = projects.sort_values(by='projectid')
projects.fillna(method='pad')
 
df = pd.merge(projects, outcomes, how='left', on='projectid')
print(df.shape)
df[df['is_exciting'].isnull()].shape

(664098, 46)

(44772, 46)

In [9]:
#add category for the data 
df['cat'] = "train"
df['cat'][df["date_posted"]<"2010-04-01"] = "nouse"
# valadation set
df['cat'][df["date_posted"]>="2013-01-01"] = "val"
# test set
df['cat'][df["date_posted"]>="2014-01-01"]= "test"
df = df[df['cat']!="nouse"]
print(df.shape)

/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(467620, 47)

In [10]:
# transform the t / f to 1 and 0
df['is_exciting'][df['is_exciting']=="t"] = 1
df['is_exciting'][df['is_exciting']=="f"] = 0
df['is_exciting'].fillna(0,inplace=True)

/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [11]:
df["at_least_1_teacher_referred_donor"][df["at_least_1_teacher_referred_donor"]=="t"] = 1
df["at_least_1_teacher_referred_donor"][df["at_least_1_teacher_referred_donor"]=="f"] = 0
df["at_least_1_teacher_referred_donor"].fillna(0,inplace=True)

/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [12]:
df["great_chat"][df["great_chat"]=="t"] = 1
df["great_chat"][df["great_chat"]=="f"] = 0
df["great_chat"].fillna(0,inplace=True)

In [13]:
df["fully_funded"][df["fully_funded"]=="t"] = 1
df["fully_funded"][df["fully_funded"]=="f"] = 0
df["fully_funded"].fillna(0,inplace=True)

In [14]:
df["at_least_1_green_donation"][df["at_least_1_green_donation"]=="t"] = 1
df["at_least_1_green_donation"][df["at_least_1_green_donation"]=="f"] = 0
df["at_least_1_green_donation"].fillna(0,inplace=True)

In [15]:
df["donation_from_thoughtful_donor"][df["donation_from_thoughtful_donor"]=="t"] = 1
df["donation_from_thoughtful_donor"][df["donation_from_thoughtful_donor"]=="f"] = 0
df["donation_from_thoughtful_donor"].fillna(0,inplace=True)

In [16]:
df["three_or_more_non_teacher_referred_donors"][df["three_or_more_non_teacher_referred_donors"]=="t"] = 1
df["three_or_more_non_teacher_referred_donors"][df["three_or_more_non_teacher_referred_donors"]=="f"] = 0
df["three_or_more_non_teacher_referred_donors"].fillna(0,inplace=True)

In [17]:
df["one_non_teacher_referred_donor_giving_100_plus"][df["one_non_teacher_referred_donor_giving_100_plus"]=="t"] = 1
df["one_non_teacher_referred_donor_giving_100_plus"][df["one_non_teacher_referred_donor_giving_100_plus"]=="f"] = 0
df["one_non_teacher_referred_donor_giving_100_plus"].fillna(0,inplace=True)

In [18]:
df['teacher_referred_count'][df['teacher_referred_count']<1] = 0
df['teacher_referred_count'][df['teacher_referred_count']>=1] = 1
df['teacher_referred_count'].fillna(0,inplace=True)

In [19]:
df['non_teacher_referred_count'][df['non_teacher_referred_count']<1] = 0
df['non_teacher_referred_count'][df['non_teacher_referred_count']>=3] = 1
df['non_teacher_referred_count'].fillna(0,inplace=True)

/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [20]:
one_or_more_required = ['three_or_more_non_teacher_referred_donors','one_non_teacher_referred_donor_giving_100_plus',
                       'donation_from_thoughtful_donor']
df['one_or_more_required'] = df[one_or_more_required].sum(axis=1)
df['one_or_more_required'][df['one_or_more_required']>=1] = 1
df['one_or_more_required'][df['one_or_more_required']<1] = 0
# this was indicated in the great_chat no need to cal again 
#df['great_messages_proportion'].fillna(0,inplace=True)
#df['great_messages_proportion'][df['great_messages_proportion'] >= 62] = True
#df['great_messages_proportion'][df['great_messages_proportion'] < 62] = False
#df['great_messages_proportion'].apply(lambda x: 1 if x else 0)

/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
# add time tag columns for the data, maybe used for calculate history features
df["year"] = df["date_posted"].apply(lambda x: x.split("-")[0])
df["month"] = df["date_posted"].apply(lambda x: x.split("-")[1])
df["day"] = df["date_posted"].apply(lambda x: x.split("-")[2])
df['school_ncesid'] = df['school_ncesid'].apply(str)
df['school_zip'] = df['school_zip'].apply(str)

In [22]:
df['grade_level'][df['grade_level']=="Grades PreK-2"] = 0.0
df['grade_level'][df['grade_level']=="Grades 3-5"] = 1.0
df['grade_level'][df['grade_level']=="Grades 6-8"] = 2.0
df['grade_level'][df['grade_level']=="Grades 9-12"] = 3.0

/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
df['poverty_level'][df['poverty_level']=='highest poverty'] = 3.0
df['poverty_level'][df['poverty_level']=='high poverty'] = 2.0
df['poverty_level'][df['poverty_level']=='moderate poverty'] = 1.0
df['poverty_level'][df['poverty_level']=='low poverty'] = 0.0

/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
origin_df = df
example = get_full_df()
example.head()
#data = df[(df['cat']=='train')|(df['cat']=='val')]

/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

finish merge for teacher_acctid
finish merge for schoolid
finish merge for school_city
finish merge for school_state
finish merge for school_district
finish merge for school_county
finish merge for school_zip

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,school_county_great_chat,school_county_one_or_more_required,school_county_count,school_zip_is_exciting,school_zip_at_least_1_teacher_referred_donor,school_zip_fully_funded,school_zip_at_least_1_green_donation,school_zip_great_chat,school_zip_one_or_more_required,school_zip_count
0,316ed8fb3b81402ff6ac8f721bb31192,42d43fa6f37314365d08692e08680973,c0e6ce89b244764085691a1b8e28cb81,63627006187.0,36.576340,-119.608713,Selma,CA,93662.0,NaN,...,0.397624,0.634102,575,0.110160,0.227105,0.514694,0.399165,0.313353,0.480658,15
1,90de744e368a7e4883223ca49318ae30,864eb466462bf704bf7a16a585ef296a,d711e47810900c96f26a5d0be30c446d,483702008193.0,32.911179,-96.723640,Dallas,TX,75243.0,urban,...,0.267835,0.669484,5533,0.127048,0.360304,0.627962,0.604670,0.305111,0.621100,114
2,32943bb1063267de6ed19fc0ceb4b9a7,37f85135259ece793213aca9d8765542,665c3613013ba0a66e3a2a26b89f1b68,410327000109.0,45.166039,-122.414576,Colton,OR,97017.0,rural,...,0.411276,0.754846,186,0.062834,0.223136,0.572279,0.498261,0.236151,0.584703,2
3,bb18f409abda2f264d5acda8cab577a9,2133fc46f951f1e7d60645b0f9e48a6c,4f12c3fa0c1cce823c7ba1df57e90ccb,360015302507.0,40.641727,-73.965655,Brooklyn,NY,11226.0,urban,...,0.335476,0.698716,9921,0.161973,0.367700,0.776968,0.787306,0.421375,0.767496,291
4,24761b686e18e5eace634607acbcc19f,867ff478a63f5457eaf41049536c47cd,10179fd362d7b8cf0e89baa1ca3025bb,62271003157.0,34.043939,-118.288371,Los Angeles,CA,90006.0,urban,...,0.219667,0.697394,41797,0.028688,0.244311,0.653882,0.578731,0.109304,0.690097,574

In [25]:
example.to_csv('df_data.csv')

In [26]:
df.head()

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count,cat,one_or_more_required,year,month,day
0,316ed8fb3b81402ff6ac8f721bb31192,42d43fa6f37314365d08692e08680973,c0e6ce89b244764085691a1b8e28cb81,63627006187.0,36.576340,-119.608713,Selma,CA,93662.0,NaN,...,0,0,NaN,0.0,0.0,test,0,2014,05,12
1,90de744e368a7e4883223ca49318ae30,864eb466462bf704bf7a16a585ef296a,d711e47810900c96f26a5d0be30c446d,483702008193.0,32.911179,-96.723640,Dallas,TX,75243.0,urban,...,0,0,NaN,0.0,0.0,test,0,2014,05,12
2,32943bb1063267de6ed19fc0ceb4b9a7,37f85135259ece793213aca9d8765542,665c3613013ba0a66e3a2a26b89f1b68,410327000109.0,45.166039,-122.414576,Colton,OR,97017.0,rural,...,0,0,NaN,0.0,0.0,test,0,2014,05,11
3,bb18f409abda2f264d5acda8cab577a9,2133fc46f951f1e7d60645b0f9e48a6c,4f12c3fa0c1cce823c7ba1df57e90ccb,360015302507.0,40.641727,-73.965655,Brooklyn,NY,11226.0,urban,...,0,0,NaN,0.0,0.0,test,0,2014,05,11
4,24761b686e18e5eace634607acbcc19f,867ff478a63f5457eaf41049536c47cd,10179fd362d7b8cf0e89baa1ca3025bb,62271003157.0,34.043939,-118.288371,Los Angeles,CA,90006.0,urban,...,0,0,NaN,0.0,0.0,test,0,2014,05,11

In [27]:
donations = pd.read_csv('./data/donations.csv')
print(donations.shape)

(3097989, 21)

In [28]:
donations['is_teacher_acct'][donations["is_teacher_acct"]=="t"] = 1.0
donations['is_teacher_acct'][donations["is_teacher_acct"]=="f"] = 0.0

/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [29]:
donations = donations[['projectid','is_teacher_acct','donation_total']]
donations['is_teacher_acct'] = donations['is_teacher_acct'].astype(float)
donations_sum = donations.groupby(by='projectid',as_index=False).sum()

In [30]:
donate = pd.merge(df[['projectid','teacher_acctid','schoolid']],donations_sum,how='left',on='projectid')
print(donate.shape)
print(df.shape)
donate.head()

(467620, 5)
(467620, 51)

,projectid,teacher_acctid,schoolid,is_teacher_acct,donation_total
0,316ed8fb3b81402ff6ac8f721bb31192,42d43fa6f37314365d08692e08680973,c0e6ce89b244764085691a1b8e28cb81,NaN,NaN
1,90de744e368a7e4883223ca49318ae30,864eb466462bf704bf7a16a585ef296a,d711e47810900c96f26a5d0be30c446d,NaN,NaN
2,32943bb1063267de6ed19fc0ceb4b9a7,37f85135259ece793213aca9d8765542,665c3613013ba0a66e3a2a26b89f1b68,NaN,NaN
3,bb18f409abda2f264d5acda8cab577a9,2133fc46f951f1e7d60645b0f9e48a6c,4f12c3fa0c1cce823c7ba1df57e90ccb,NaN,NaN
4,24761b686e18e5eace634607acbcc19f,867ff478a63f5457eaf41049536c47cd,10179fd362d7b8cf0e89baa1ca3025bb,NaN,NaN

In [31]:
donation_df = donate
print(donation_df.shape)
donor_sum = calculate_sum(donation_df,'teacher_acctid')
donor_sum['is_teacher_acct'] = donor_sum['is_teacher_acct']/donor_sum['count']
donor_sum['donation_total'] = donor_sum['donation_total']/donor_sum['count']
donor_sum['is_teacher_acct'][donor_sum['count']==1] = 0.0
donor_sum['donation_total'][donor_sum['count']==1] = 0.0
donor_sum.rename(columns={'count': "".join('teacher_acctid'+'_count_donor')}, inplace=True)
donor_sum.rename(columns={'is_teacher_acct': "".join('teacher_acctid'+'_is_teacher_acct_donor')}, inplace=True)
donor_sum.rename(columns={'donation_total': "".join('teacher_acctid_donor'+'_donation_total_donor')}, inplace=True)
donor_sum.drop('teacher_acctid',axis=1,inplace=True)
donor_sum.head()

(467620, 5)

/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,projectid,teacher_acctid_is_teacher_acct_donor,teacher_acctid_donor_donation_total_donor,teacher_acctid_count_donor
0,316ed8fb3b81402ff6ac8f721bb31192,0.000000,0.000000,1
1,90de744e368a7e4883223ca49318ae30,0.285714,184.586429,14
2,32943bb1063267de6ed19fc0ceb4b9a7,NaN,NaN,2
3,bb18f409abda2f264d5acda8cab577a9,0.333333,357.548095,21
4,24761b686e18e5eace634607acbcc19f,7.157895,534.897105,38

In [32]:
ids = df[['projectid','teacher_acctid','schoolid']]
donate_data = pd.merge(ids,donor_sum,how='left',on='projectid')

In [33]:
print(donate_data.shape)
print(donor_sum.shape)
donate_data.head()

(467620, 6)
(467620, 4)

,projectid,teacher_acctid,schoolid,teacher_acctid_is_teacher_acct_donor,teacher_acctid_donor_donation_total_donor,teacher_acctid_count_donor
0,316ed8fb3b81402ff6ac8f721bb31192,42d43fa6f37314365d08692e08680973,c0e6ce89b244764085691a1b8e28cb81,0.000000,0.000000,1
1,90de744e368a7e4883223ca49318ae30,864eb466462bf704bf7a16a585ef296a,d711e47810900c96f26a5d0be30c446d,0.285714,184.586429,14
2,32943bb1063267de6ed19fc0ceb4b9a7,37f85135259ece793213aca9d8765542,665c3613013ba0a66e3a2a26b89f1b68,NaN,NaN,2
3,bb18f409abda2f264d5acda8cab577a9,2133fc46f951f1e7d60645b0f9e48a6c,4f12c3fa0c1cce823c7ba1df57e90ccb,0.333333,357.548095,21
4,24761b686e18e5eace634607acbcc19f,867ff478a63f5457eaf41049536c47cd,10179fd362d7b8cf0e89baa1ca3025bb,7.157895,534.897105,38

In [34]:
donor_sum_2 = calculate_sum(donation_df,'schoolid')
donor_sum_2['is_teacher_acct'] = donor_sum_2['is_teacher_acct']/donor_sum_2['count']
donor_sum_2['donation_total'] = donor_sum_2['donation_total']/donor_sum_2['count']
donor_sum_2['is_teacher_acct'][donor_sum_2['count']==1] = 0.0
donor_sum_2['donation_total'][donor_sum_2['count']==1] = 0.0
donor_sum_2.rename(columns={'count': "".join('schoolid'+'_count_donor')}, inplace=True)
donor_sum_2.rename(columns={'is_teacher_acct': "".join('schoolid'+'_is_teacher_acct_donor')}, inplace=True)
donor_sum_2.rename(columns={'donation_total': "".join('schoolid'+'_donation_total_donor')}, inplace=True)
donor_sum_2.drop('schoolid',axis=1,inplace=True)
donate_data = pd.merge(donate_data,donor_sum_2,how='left',on='projectid')

/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/hang/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [35]:
donate_data.fillna(0,inplace=True)
donate_data.head()

,projectid,teacher_acctid,schoolid,teacher_acctid_is_teacher_acct_donor,teacher_acctid_donor_donation_total_donor,teacher_acctid_count_donor,schoolid_is_teacher_acct_donor,schoolid_donation_total_donor,schoolid_count_donor
0,316ed8fb3b81402ff6ac8f721bb31192,42d43fa6f37314365d08692e08680973,c0e6ce89b244764085691a1b8e28cb81,0.000000,0.000000,1,0.000000,260.805000,4
1,90de744e368a7e4883223ca49318ae30,864eb466462bf704bf7a16a585ef296a,d711e47810900c96f26a5d0be30c446d,0.285714,184.586429,14,0.541667,388.840625,48
2,32943bb1063267de6ed19fc0ceb4b9a7,37f85135259ece793213aca9d8765542,665c3613013ba0a66e3a2a26b89f1b68,0.000000,0.000000,2,0.000000,0.000000,2
3,bb18f409abda2f264d5acda8cab577a9,2133fc46f951f1e7d60645b0f9e48a6c,4f12c3fa0c1cce823c7ba1df57e90ccb,0.333333,357.548095,21,0.312195,418.304829,205
4,24761b686e18e5eace634607acbcc19f,867ff478a63f5457eaf41049536c47cd,10179fd362d7b8cf0e89baa1ca3025bb,7.157895,534.897105,38,1.513514,419.007523,444

In [36]:
# for test all those 5 are zeros, but cost and item are calculated given the information in the project
#df[df['cat']=='test'][requirements_columns]
donate_data.to_csv('donation_data.csv')

In [37]:
resources = pd.read_csv('./data/resources.csv')
print(resources.shape)
resources['cost'] = resources['item_unit_price']*resources['item_quantity']
#resources.head()
total_sum = resources[['projectid','cost','item_quantity']].groupby('projectid',as_index=False).aggregate(np.sum)
total_sum['avg_cost'] = total_sum['cost']/total_sum['item_quantity']
resource_df = df[['projectid','students_reached']]
resource_df = pd.merge(resource_df, total_sum, how='left', on='projectid')
print(df.shape)

(3667217, 9)
(467620, 51)

In [38]:
for var in resources['project_resource_type'].unique()[0:6]:
    tmp = resources[(resources['project_resource_type']==var)]
    tmp_sum= tmp[['projectid','cost']].groupby('projectid',as_index=False).aggregate(np.sum)
    tmp_sum.rename(columns={'cost': "".join(var+'_cost')}, inplace=True)
    resource_df = pd.merge(resource_df,tmp_sum,how='left',on ='projectid')
    resource_df["".join(var+'_cost')].fillna(0,inplace=True)
print(resource_df.shape)

(467620, 11)

In [39]:
resource_df['price_per_student'] = resource_df['cost']/resource_df['students_reached']
resource_df.to_csv('resource_data.csv')

In [40]:
essays = pd.read_csv('./data/essays.csv')
essays.fillna("",inplace=True)
essays['essay_length'] = essays['essay'].str.len()
essays['title_length'] = essays['title'].str.len()
essay_data = pd.merge(ids,essays[['projectid','essay_length','title_length']],on='projectid',how='left')

In [41]:
essay_data.fillna(method='pad',inplace=True)
essay_data.to_csv('essay_data.csv')